<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>售后特卖-活动表单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script src="http://static.tuanche.com/layuiadmin/layui/layui.js"></script>
    <script src="/layui/js/formSelects-v4.js"></script>
    <script src="/common/js/tools.js"></script>
    <link rel="stylesheet" href="http://static.tuanche.com/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui/css/formSelects-v4.css" media="all">
    <script src="/layuiadmin/layui/layui.all.js"></script>
    <script src="/common/js/jquery-1.12.4.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/magnify/css/jquery.magnify.css">
    <script src="/layui/js/tableSelect.js"></script>
    <style>
        .label-close-icon {
            vertical-align: bottom;
            margin-left: -8px;
            font-size: 18px;
            position: absolute;
            top: -8px;
            cursor: pointer;
            z-index: 100;
        }

        .layui-input {
            width: 300px;
        }

        .layui-form-select {
            width: 300px;
        }

        .xm-form-select {
            min-width: 300px;
        }

        .layui-form-label {
            width: 100px;
        }

        .layui-input-block {
            margin-left: 138px;
        }

        .layui-upload-img {
            width: 200px;
            height: 200px;
        }

        .layui-form-label {
            width: 105px;
        }
    </style>
</head>
<body class="childrenBody">
<form class="layui-form" style="background-color:#ffffff" lay-filter="afterSaleActivityForm" >
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>经销商信息</legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">业务类型</label>
        <div class="layui-input-block">
            <input type="radio" name="businessType" value="1" title="经销商" readonly th:field="${afterSaleActivity.businessType}">
            <input type="radio" name="businessType" value="2" title="汽修厂" checked="" readonly th:field="${afterSaleActivity.businessType}">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline" style="width: 300px;">
            <label class="layui-form-label ">经销商名<span
                    style="color: red;top: 14px;position: absolute">&nbsp;*</span></label>
            <div class="layui-input-block">
                <input type="text" id="dealerName" name="dealerName" th:value="${afterSaleActivity.dealerName}"
                       class="layui-input"
                       readonly style="width: 230px;">
            </div>
        </div>
        <div class="layui-inline" style="width: 300px;">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-block">
                <input type="text" name="dealerAddress" id="dealerAddress" th:value="${afterSaleActivity.dealerAddress}"
                       readonly class="layui-input" style="width: 230px;">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline" style="width: 300px;">
            <label class="layui-form-label ">负责人</label>
            <div class="layui-input-block">
                <input type="text" name="managerName" id="managerName" th:value="${afterSaleActivity.managerName}"
                       readonly autocomplete="off" class="layui-input" style="width: 230px;">
            </div>
        </div>
        <div class="layui-inline" style="width: 300px;">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-block">
                <input type="text" name="dealerTel" id="dealerTel" th:value="${afterSaleActivity.dealerTel}"
                       readonly autocomplete="off" class="layui-input" style="width: 230px;">
            </div>
        </div>
        <div class="layui-inline" style="padding-left: 200px;">
            <button type="button" class="layui-btn" id="dealerImg" th:value="${afterSaleActivity.dealerImg}" onclick="openPic('门头照预览',null)" >查看门店照</button>
        </div>
    </div>
    <div class="layui-form-item" style="width: 437px;">
        <label class="layui-form-label">选择品牌<span style="color: red;top: 14px;position: absolute">&nbsp;*</span></label>
        <div class="layui-input-block">
            <select name="brandSelect" id="brandSelect" xm-select="brandSelect" xm-select-search=""
                    xm-select-search-type="dl" xm-select-radio="">
                <option value="">请选择品牌</option>
                <option th:each="brand : ${afterSaleActivity.brandList}"
                        th:selected="${afterSaleActivity.brandId != null and (afterSaleActivity.brandId.toString() eq brand.value)}" th:value="${brand.value }"
                        th:text="${brand.name}"></option>

            </select>
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>活动信息</legend>
    </fieldset>
    <div class="layui-form-item">

        <div class="layui-form-item" style="width: 437px;">
            <label class="layui-form-label required">活动名称<span
                    style="color: red;top: 14px;position: absolute">&nbsp;*</span></label>
            <div class="layui-input-block">
                <input type="text" name="activityName" id="activityName" th:value="${afterSaleActivity.activityName}"
                       lay-verify="required" readonly
                       placeholder="请输活动名称" maxlength="30" autocomplete="off" class="layui-input" style="width: 300px;">
            </div>
        </div>
        <div class="layui-form-item" style="width: 437px;">
            <label class="layui-form-label">关联商品<span
                    style="color: red;top: 14px;position: absolute">&nbsp;*</span></label>
            <div class="layui-input-block">
                <input type="text" name="" placeholder="选择商品" autocomplete="off" class="layui-input" readonly
                       id="productNameSel" th:value="${afterSaleActivity.goodsName}" th:attr="ts-selected=${afterSaleActivity.goodsId}">
            </div>
        </div>

        <div class="layui-form-item" style="width: 437px;">
            <label class="layui-form-label">推广售卖时间<span
                    style="color: red;top: 14px;position: absolute">&nbsp;*</span></label>
            <div class="layui-input-block">
                <input type="hidden" id="saleStartTime"
                       th:value="${#dates.format(afterSaleActivity.saleStartTime,'yyyy-MM-dd HH:mm:ss')}"/>
                <input type="hidden" id="saleEndTime"
                       th:value="${#dates.format(afterSaleActivity.saleEndTime,'yyyy-MM-dd HH:mm:ss')}"/>
                <input type="datetime"  disabled class="layui-input" id="activitySaleTime" placeholder="请选择售卖时间范围">
            </div>
        </div>
        <div class="layui-form-item" style="width: 437px;">
            <label class="layui-form-label">线下转化时间<span
                    style="color: red;top: 14px;position: absolute">&nbsp;*</span></label>
            <div class="layui-input-block">
                <input type="hidden" id="offlineConvertStartTime"
                       th:value="${#dates.format(afterSaleActivity.offlineConvertStartTime,'yyyy-MM-dd HH:mm:ss')}"/>
                <input type="hidden" id="offlineConvertEndTime"
                       th:value="${#dates.format(afterSaleActivity.offlineConvertEndTime,'yyyy-MM-dd HH:mm:ss')}"/>
                <input type="datetime" disabled class="layui-input" id="activityConvertTime" placeholder="请选择兑换时间范围">
            </div>
        </div>
    </div>


    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>裂变奖励设置</legend>
    </fieldset>
    <div class="layui-form-item">
        <div class="layui-inline" style="width: 300px;">
            <label class="layui-form-label" style="width: 150px;">备案用户需裂变（人）<span
                    style="color: red;top: 14px;position: absolute">&nbsp;*</span></label>
            <div class="layui-input-block">
                <input type="number" name="goodsFissionCount" id="goodsFissionCount" readonly
                       th:value="${afterSaleActivity.goodsFissionCount}" th:min="1" th:max="99" lay-verify="required" style="width: 100px;"
                       autocomplete="off" placeholder="1~99"
                       class="layui-input">
            </div>
        </div>
    </div>
    <label class="layui-form-label">代理人奖励设置<span style="color: red;top: 16px;position: absolute">&nbsp;*</span></label>
    <div class="layui-form-item">
        <div class="layui-inline" style="width: 300px;">
            <label class="layui-form-label" style="width: 150px;">基础裂变奖励（元）</label>
            <div class="layui-input-block">
                <input type="number" name="agentAwardBase" id="agentAwardBase" readonly
                       th:value="${afterSaleActivity.agentAwardBase ==null?15:afterSaleActivity.agentAwardBase}"
                       placeholder="￥" lay-verify="required" style="width: 100px;" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline" style="width: 300px;">
            <label class="layui-form-label" style="width: 130px;">每邀请（人次）</label>
            <div class="layui-input-block">
                <input type="number" name="agentAwardInviterCount " id="agentAwardInviterCount" readonly
                       th:value="${afterSaleActivity.agentAwardInviterCount == null ? 0 : afterSaleActivity.agentAwardInviterCount}" lay-verify="required"
                       style="width: 100px;" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline" style="width: 300px;">
            <label class="layui-form-label">额外奖励（元）</label>
            <div class="layui-input-block">
                <input type="number" name="agentAwardExtra" id="agentAwardExtra" readonly
                       th:value="${afterSaleActivity.agentAwardExtra == null ? 0 : afterSaleActivity.agentAwardExtra}" placeholder="￥" style="width: 100px;"
                       autocomplete="off" lay-verify="required"
                       class="layui-input">
            </div>
        </div>
    </div>
    <label class="layui-form-label">分享人奖励设置<span style="color: red;top: 16px;position: absolute">&nbsp;*</span></label>
    <div class="layui-form-item">
        <div class="layui-inline" style="width: 300px;">
            <label class="layui-form-label" style="width: 150px;">基础裂变奖励（元）</label>
            <div class="layui-input-block">
                <input type="number" name="shareAwardBase" id="shareAwardBase" readonly
                       th:value="${afterSaleActivity.shareAwardBase == null ? 5 : afterSaleActivity.shareAwardBase}"
                       placeholder="￥" lay-verify="required" style="width: 100px;" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline" style="width: 300px;">
            <label class="layui-form-label" style="width: 130px;">每邀请（人次）</label>
            <div class="layui-input-block">
                <input type="number" name="shareAwardInviterCount" id="shareAwardInviterCount" readonly
                       th:value="${afterSaleActivity.shareAwardInviterCount == null ? 3 : afterSaleActivity.shareAwardInviterCount}"
                       lay-verify="required" style="width: 100px;" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-inline" style="width: 300px;">
            <label class="layui-form-label">额外奖励（元）</label>
            <div class="layui-input-block">
                <input type="number" name="shareAwardExtra" id="shareAwardExtra" readonly
                       th:value="${afterSaleActivity.shareAwardExtra == null ? 5 : afterSaleActivity.shareAwardExtra}"
                       placeholder="￥" lay-verify="required" style="width: 100px;" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>
    <label class="layui-form-label">购买人奖励设置<span style="color: red;top: 16px;position: absolute">&nbsp;*</span></label>
    <div class="layui-form-item">
        <div class="layui-inline" style="width: 300px;">
            <label class="layui-form-label" style="width: 150px;">基础裂变奖励（元）</label>
            <div class="layui-input-block">
                <input type="number" name="buyerAwardBase" id="buyerAwardBase" readonly
                       th:value="${afterSaleActivity.buyerAwardBase == null ? 5 :afterSaleActivity.buyerAwardBase}"
                       placeholder="￥" lay-verify="required" style="width: 100px;" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
    </div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>礼券设置</legend>
    </fieldset>
    <div class="layui-form-item">
        <div class="layui-form-item" style="width: 437px;">
            <label class="layui-form-label required">礼品名</label>
            <div class="layui-input-block">
                <input type="text" name="giftCouponName" id="giftCouponName"
                       th:value="${afterSaleActivity.giftCouponName}" readonly
                       placeholder="名称：如车载收纳箱" maxlength="60" autocomplete="off" class="layui-input"
                       style="width: 300px;">
            </div>
        </div>
    </div>

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
        <legend>微信分享</legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">微信标题<span style="color: red;top: 14px;position: absolute">&nbsp;*</span></label>
        <div class="layui-input-block">
            <input type="text" id="weChatTitle" name="weChatTitle" lay-verify="required" readonly
                   th:value="${afterSaleActivity.weChatTitle}" autocomplete="off"
                   class="layui-input" style="width: 750px;">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">微信描述<span style="color: red;top: 14px;position: absolute">&nbsp;*</span></label>
        <div class="layui-input-block">
            <input type="text" id="weChatDescription" name="weChatDescription" lay-verify="required" autocomplete="off"
                   th:value="${afterSaleActivity.weChatDescription}" readonly
                   class="layui-input" style="width: 750px;">
        </div>
    </div>
    <div class="layui-form-item">
        <input name="weChatPic" id="weChatPic" th:value="${afterSaleActivity.weChatPic}" lay-verify="required"
               style="display: none">
        <label class="layui-form-label">微信图片<span style="color: red;top: 14px;position: absolute">&nbsp;*</span></label>
        <div class="layui-upload-drag" id="uploadweChatPic">
            <div th:if="${afterSaleActivity.weChatPic != null}">
                <div id="uploadweChatPicView">
                    <hr>
                    <img th:src="${afterSaleActivity.weChatPic}" alt="上传成功后渲染" style="max-width: 196px">
                    <p id="tipText"></p>
                </div>
            </div>
            <div th:if="${afterSaleActivity.weChatPic == null }">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <div class="layui-hide" id="uploadweChatPicView">
                    <hr>
                    <img alt="上传成功后渲染" style="max-width: 196px">
                    <p id="tipText"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form-item" style="width: 488px;">
        <label class="layui-form-label">上传海报图<span
                style="color: red;top: 14px;position: absolute">&nbsp;*</span></label>
        <input name="posterUrl" th:value="${afterSaleActivity.posterUrl}" id="posterUrl" style="display: none">
        <div class="layui-upload-drag" id="posterPic">
            <div th:if="${afterSaleActivity.posterUrl != null  && afterSaleActivity.posterUrl != ''}">
                <div id="posterPicView">
                    <hr>
                    <img th:src="${afterSaleActivity.posterUrl}" alt="上传成功后渲染" style="max-width: 196px">
                    <p id="tipText"></p>
                </div>
            </div>
            <div th:if="${afterSaleActivity.posterUrl == null || afterSaleActivity.posterUrl == ''}">
                <i class="layui-icon"></i>
                <p>点击上传，或将文件拖拽到此处</p>
                <div class="layui-hide" id="posterPicView">
                    <hr>
                    <img alt="上传成功后渲染" style="max-width: 196px">
                    <p id="tipText"></p>
                </div>
            </div>
        </div>
        （jpg格式）
    </div>
    <div class="layui-form-item" style="margin-bottom: 235px;">
        <div class="layui-input-block">
            <button type="button" class="layui-btn layui-btn-normal" id="backPre">
                <i class="layui-icon layui-icon-close-fill"></i>返回
            </button>
        </div>
    </div>
</form>
<!-- layui 初始化 -->
<script type="text/javascript" th:inline="javascript">
    layui.use(['form', 'layer', 'table', 'upload', 'laydate', 'element'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            laydate = layui.laydate,
            util = layui.util,
            formSelects = layui.formSelects,
            upload = layui.upload,
            tableSelect = layui.tableSelect,
            element = layui.element;
        element.init();
        form.render();

        // 售卖时间范围
        var startTime = [[${afterSaleActivity.saleStartTime}]];
        var endTime = [[${afterSaleActivity.saleEndTime}]];
        var startTimeStr = layui.util.toDateString(startTime, 'yyyy-MM-dd HH:mm:ss');
        var endTimeStr = layui.util.toDateString(endTime, 'yyyy-MM-dd HH:mm:ss');
        var splitFlag = ' - ';
        if(startTime == null && endTime == null){
            startTimeStr = "";
            endTimeStr = "";
            splitFlag='';
        }
        laydate.render({
            elem: '#activitySaleTime'
            , type: 'datetime'
            , range: true
            , trigger : 'click'
            , value: startTimeStr + splitFlag + endTimeStr
            , done: function(value, date, endDate){
                if(value == null || value == ""){
                    $("#saleStartTime").val("");
                    $("#saleEndTime").val("");
                }else{
                    var time = value.split(" - ");
                    $("#saleStartTime").val(time[0]);
                    $("#saleEndTime").val(time[1]);
                }
            }
        });

        // 领取时间范围
        var offStartTime = [[${afterSaleActivity.offlineConvertStartTime}]];
        var offEndTime = [[${afterSaleActivity.offlineConvertEndTime}]];
        var offStartTimeStr = layui.util.toDateString(offStartTime, 'yyyy-MM-dd HH:mm:ss');
        var offEndTimeStr = layui.util.toDateString(offEndTime, 'yyyy-MM-dd HH:mm:ss');
        var offSplitFlag = ' - ';
        if(offStartTime == null && offEndTime == null){
            offStartTimeStr = "";
            offEndTimeStr = "";
            offSplitFlag='';
        }
        laydate.render({
            elem: '#activityConvertTime'
            , type: 'datetime'
            , range: true
            , trigger : 'click'
            , value: offStartTimeStr + offSplitFlag + offEndTimeStr
            , done: function(value, date, endDate){
                if(value == null || value == ""){
                    $("#offlineConvertStartTime").val("");
                    $("#offlineConvertEndTime").val("");
                }else{
                    var time = value.split(" - ");
                    $("#offlineConvertStartTime").val(time[0]);
                    $("#offlineConvertEndTime").val(time[1]);

                }
            }
        });

        $("#backPre").on("click", function () {
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);//关闭弹出的子页面窗口
        });

        window.openPic = function(title,url) {
            var dealerImg = $("#dealerImg").val();
            if(dealerImg == null || dealerImg == ''){
                layer.msg('未上传图片', {icon: 5});
                return;
            }
            layer.open({
                title: title,
                type: 1,
                maxmin: true,
                content: '<img src="'+ dealerImg +'" style="width: 400px;height:400px"/>',
                area: ['400px', '423px'],
            });
        }
    });


</script>
</body>
</html>