<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>团车直卖-裂变商品订单列表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script src="http://static.tuanche.com/layuiadmin/layui/layui.js"></script>
    <link rel="stylesheet" href="http://static.tuanche.com/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/magnify/css/jquery.magnify.css" >
    <script src="/layui/js/formSelects-v4.js"></script>
    <script type="text/javascript" src="http://static.tuanche.com/layuiadmin/button_hide.js "></script>
    <link rel="stylesheet" href="/layui/css/formSelects-v4.css" media="all">
    <style type="text/css">
        .layui-table-header .layui-table tr {
            height: auto;
            line-height: 50px;
        }
        .layui-table tr{height: 65px}
        .layui-form-label{width: 100px}
        .layui-input-block{
            margin-left: 131px;
            min-height: 36px;
        }
        .layui-input{
            width: 217.44px;
        }
        .layui-input-block-p{
            padding-top: 8px;
        }
    </style>
</head>
<body class="childrenBody">
<div style="padding: 20px;background-color: #fbfbfb;">
<form class="layui-form" style="background-color: #ffffff;">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form">
            <div class="layui-form-item" >
                <div class="layui-inline">
                    <label class="layui-form-label">活动名称：</label>
                    <div class="layui-input-block"  style="width: 300px;">
                        <select id="fissionId" lay-filter="activitySelect" xm-select="activitySelect" xm-select-search="" xm-select-search-type="dl" xm-select-radio="">
                            <option value="">请选择裂变活动</option>
                            <option th:each="fissionActivity : ${fissionActivityList}" th:value="${fissionActivity.id}" th:text="${fissionActivity.activityName}"
                                    th:data-starttime="${#dates.format(fissionActivity.startTime,'yyyy-MM-dd')}" th:data-endtime="${#dates.format(fissionActivity.endTime,'yyyy-MM-dd')}"></option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">活动时间：</label>
                    <div class="layui-input-block">
                        <p id="activityDate" class="layui-input-block-p"></p>
                    </div>
                </div>
            </div>


            <div class="layui-form-item" >
                <div class="layui-inline">
                    <a class="layui-btn" id="export" data-type="reload"><i class="layui-icon layui-icon-export"></i>导出经销商订单</a>
                    <a class="layui-btn" id="paymentStatusBatch" data-type="reload"><i class="layui-icon layui-icon-edit"></i>标记为已打款</a>
                </div>
            </div>
        </form>
    </blockquote>
    <table id="settlementList" lay-filter="fissionActivityTool"></table>
</form>
</div>

<!-- 表格操作列按钮 -->
<div class="settlementRemit">
    <script type="text/html" id="barBtn">
        {{# if(d.id==null){ }}
        无结算账户
        {{# }else if(d.paymentStatus==false){ }}
        <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="remit"><i class="layui-icon layui-icon-edit">已打款</i></a>
        {{# } }}
    </script>
</div>

<!-- layui 初始化 -->
<script type="text/javascript" th:inline="javascript">
    layui.use(['form','layer','table','laydate'],function(){
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            formSelects = layui.formSelects,
            table = layui.table;

        //当前页数据数量
        var table_data = new Array();
        // 裂变活动列表
        table.render({
            elem: '#settlementList',
            url : '/fission/dealer/settlement/getFissionDealerSettlementAccountList',
            cellMinWidth : 100,
            page : true,
            height : "full-125",
            limits : [10,20,50,100],
            limit : 10,
            cols: [
                [
                    {type: "checkbox", fixed: "left", width: 50},
                    {field: 'fissionName', title: '活动名称', align: "center"},
                    {field: 'dealerName', title: '经销商名称', align: "center",minWidth:250},
                    {field: 'orderSum', title: '订单总数', align: "center"},
                    {field: 'orderCheckoutSum', title: '核销订单总数', align: "center"},
                    {field: 'orderAmount', title: '核销总金额', align: "center"},
                    {field: 'orderRefundSum', title: '退款订单总数', align: "center", minWidth: 100},
                    {field: 'paymentStatus', title: '打款状态', align: "center", templet: function (d) {
                            /*console.log("=============d.id:",d.id);
                            console.log("=============table_data:",table_data);
                            if(d.id != null){
                                table_data.push(d.id);
                            }*/
                            return d.paymentStatusName;
                        }},
                    {fixed: 'right', title: '操作', align: 'center',minWidth: 200, toolbar: '#barBtn'}
                ]
            ],
            done: function (res, curr, count) {
                table_data = res.data;
                for(var suborders_key in table_data) {
                    var index = table_data[suborders_key]['LAY_TABLE_INDEX'];
                    $('tr[data-index=' + index + '] input[type="checkbox"]').prop('disabled', true); // 禁止选择
                    if(table_data[suborders_key]['paymentStatus'] == false){
                        $('tr[data-index=' + index + '] input[type="checkbox"]').prop('disabled', false); // 可选择
                    }
            };
            form.render('checkbox');
        }
        });

        //选择活动
        function setActivityDate (fissionId) {
            var fissionIds = layui.formSelects.value("activitySelect","val");
            if (fissionIds.length>0) {
                $.each($("#fissionId option"), function (index, val) {
                    if (fissionId == $(val).val()) {
                        $("#activityDate").html($(val).data("starttime")+" 至 "+$(val).data("endtime"));
                        return false;
                    }
                });
            } else {
                $("#activityDate").html("")
            }
        }

        formSelects.on('activitySelect', function(id, vals, val, isAdd, isDisabled){
            console.log("==========选择活动："+val.value);
            setActivityDate(val.value);
            refresh(val.value);
        },true);

        // 操作事件
        table.on('tool(fissionActivityTool)', function(obj){
            var data = obj.data;
            var jsonData = [{id:data.id,dealerId:data.dataId,dealerName:data.dealerName,accountType:data.accountType}];
            layer.confirm('确定更改状态为已打款?', {icon: 3, title:'提示'}, function(index){
                $.ajax({
                    type: 'post',
                    url: '/fission/dealer/settlement/remit',
                    dataType:'json',
                    data: {jsonString:JSON.stringify(jsonData)},
                    success: function (s) {
                        var icon = 5;
                        if(s.code == 200) icon=6;
                        layer.alert(s.msg, {icon: icon,title:'提示'}, function (i) {
                            //关闭弹窗
                            layer.close(i);
                            refresh();
                        });
                    },
                    error: function (e) {
                        layer.alert('网络繁忙', {icon: 5,title:'提示'});
                    }
                })
                layer.close(index);
            });

        });

        // 记录勾选数据
        table.on('checkbox(fissionActivityTool)', function (obj) {
            if (obj.checked == true) {
                if (obj.type == 'one') {// 勾选单条
                    for (var i = 0; i < table_data.length; i++) {
                        if (table_data[i]['paymentStatus'] == true) {
                            $('tr[data-index=' + i + '] div.layui-form-checked').removeClass("layui-form-checked");
                        }
                    }
                }
                if (obj.type == 'all') {// 勾选全部
                    for (var i = 0; i < table_data.length; i++) {
                        if(table_data[i]['paymentStatus'] == true){
                            $('tr[data-index=' + i + '] div.layui-form-checked').removeClass("layui-form-checked");
                        }
                    }
                }
            } else {
                if (obj.type == 'one') {
                    for (var i = 0; i < table_data.length; i++) {
                        if (table_data[i]['paymentStatus'] == true) {
                            $('tr[data-index=' + i + '] div.layui-form-checked').removeClass("layui-form-checked");
                        }
                    }
                }
            }
        });

        //导出订单
        $("#export").on("click",function(){
            if (table_data ==null || table_data.length==0)  return false;
            var fissionIds = layui.formSelects.value("activitySelect","val");
            var fissionId = "";
            if (fissionIds.length>0) fissionId = fissionIds[0];
            location.href="/fission/dealer/settlement/export?fissionId="+fissionId;
        });

        $("#paymentStatusBatch").on("click",function(){
            var td = table.checkStatus('settlementList').data;
            if(td.length==0){
                layer.msg("请选择数据");
                return;
            }
            var ids= new Array();
            for (var i = 0; i < td.length; i++) {
                if(!td[i]['paymentStatus']){
                    ids.push({id:td[i]['id'],dealerId:td[i]['dataId'],dealerName:td[i]['dealerName'],accountType:td[i]['accountType']});
                }
            }
            if(ids.toString()==""){
                layer.msg("请选择数据");
                return;
            }
            layer.confirm('确定更改状态为已打款?', {icon: 3, title:'提示'}, function(index){

                $.ajax({
                    type: 'post',
                    url: '/fission/dealer/settlement/remit',
                    dataType:'json',
                    data: {jsonString:JSON.stringify(ids)},
                    dataType: "json",
                    success: function (s) {
                        var icon = 5;
                        if(s.code == 200) icon=6;
                        layer.alert(s.msg, {icon: icon,title:'提示'}, function (i) {
                            //关闭弹窗
                            layer.close(i);
                            refresh();
                        });
                    },
                    error: function (e) {
                        layer.alert('网络繁忙', {icon: 5,title:'提示'});
                    }
                })
                layer.close(index);
            });
        });

        function refresh (fissionId) {
            var fissionIds = layui.formSelects.value("activitySelect","val");
            if (fissionIds.length==0){
                fissionId = "";
            }
            console.log("====================fissionId:"+fissionId);
            table.reload("settlementList",{
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: {
                    "fissionId": fissionId
                }
            })
        }

    });

</script>

</body>
</html>