<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>团车直卖-B端数据概览</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script src="http://static.tuanche.com/layuiadmin/layui/layui.all.js"></script>
    <script src="/common/js/jquery-1.12.4.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="http://static.tuanche.com/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/magnify/css/jquery.magnify.css">
    <script src="/layui/js/tableSelect.js"></script>
</head>
<body class="childrenBody">
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <form class="layui-form" action="">
                        <div class="layui-inline">
                            <div class="layui-form-item">
                                <label class="layui-form-label">活动名称：</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input"
                                           id="acName">
                                </div>
                                <label class="layui-form-label" style="width: 200px">经销商名称：</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="" placeholder="请输入" autocomplete="off" class="layui-input"
                                           id="companyName">
                                </div>
                                <a class="layui-btn search_btn" data-type="reload" onclick="reload()"><i class="layui-icon layui-icon-search"></i>搜索</a>
                            </div>
                        </div>
                    </form>
                    <div class="layui-tab layui-tab-card">
                        <ul class="layui-tab-title">
                            <li class="layui-this">经销商排行</li>
                            <li>销售排行</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                当前共有<span id="dealerCount"></span>家经销商参与活动&nbsp;&nbsp;&nbsp;<button id="exportDealerData" type="button" class="layui-btn">导出数据</button>
                                <table id="dealerDataTable"></table>
                            </div>
                            <div class="layui-tab-item">
                                当前共有<span id="saleCount"></span>名销售参与活动&nbsp;&nbsp;&nbsp;<button id="exportSaleData" type="button" class="layui-btn">导出数据</button>
                                <table id="saleDataTable"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var form = layui.form;
    var tableSelect = layui.tableSelect;
    var table = layui.table;
    ;!function () {
        tableSelect.render({
            elem: '#acName',
            checkedKey: 'id',
            table: {
                url: '/fission/data/view/business/activity/select',
                cols: [
                    [
                        {type: 'radio'},
                        {field: 'id', title: 'ID', width: 50},
                        {field: 'activityName', title: '活动名称', width: 200},
                        {field: 'startTime', title: '活动开始时间', width: 300},
                        {field: 'endTime', title: '活动结束时间', width: 300}
                    ]
                ]
            },
            done: function (elem, data) {
                var NEWJSON = []
                layui.each(data.data, function (index, item) {
                    NEWJSON.push(item.activityName);
                })
                elem.val(NEWJSON.join(","))
            }
        })

        table.render({
            elem: '#saleDataTable',
            page: true,
            cellMinWidth: 50,
            limits : [10,20,50,100],
            limit : 10,
            url: '/fission/data/view/business/rank/sale/all',
            where: {
                id: 0
            },
            cols: [
                [
                    {field: 'rank', title: '排行'},
                    {field: 'saleName', title: '销售姓名'},
                    {field: 'salePhone', title: '手机号'},
                    {field: 'dealerName', title: '所属经销商'},
                    {field: 'realIncome', title: '实际收入(元)'},
                    {field: 'estimatedIncome', title: '预计收入(元)'},
                    {field: 'taskIntegral', title: '总积分数'},
                    {field: 'whetherCompleteTask', title: '是否完成基础目标', templet: function (d) {
                            if(d.whetherCompleteTask){
                                return '是'
                            }else{
                                return '否'
                            }
                        }},
                    {field: 'pageView', title: '浏览页面数'},
                    {field: 'subscribeLive', title: '预约直播数'},
                    {field: 'activityPageProduct', title: '活动页购买商品数'},
                    {field: 'liveView', title: '观看直播数'},
                    {field: 'livePageProduct', title: '直播间购买商品数'}
                ]
            ],
            done: function (res, curr, count) {
                $("#saleCount").text(count);
            }
        });

        table.render({
            elem: '#dealerDataTable',
            page: true,
            cellMinWidth: 50,
            limits : [10,20,50,100],
            url: '/fission/data/view/business/rank/dealer/all',
            where: {
                id: 0
            },
            cols: [
                [
                    {field: 'rank', title: '排行'},
                    {field: 'dealerName', title: '经销商名称'},
                    {field: 'saleCount', title: '参与销售人数'},
                    {field: 'realIncome', title: '实际收入(元)'},
                    {field: 'estimatedIncome', title: '预计收入(元)'},
                    {field: 'taskIntegral', title: '总积分数'},
                    {field: 'finishTaskIntegral', title: '完成任务积分数'},
                    {field: 'pageView', title: '浏览页面数'},
                    {field: 'subscribeLive', title: '预约直播数'},
                    {field: 'activityPageProduct', title: '活动页购买商品数'},
                    {field: 'liveView', title: '观看直播数'},
                    {field: 'livePageProduct', title: '直播间购买商品数'}
                ]
            ],
            done: function (res, curr, count) {
                $("#dealerCount").text(count);
            }
        });
        $("#exportDealerData").on("click", function(){
            window.open("/fission/data/view/business/rank/dealer/all/export?id="+$("#acName").attr("ts-selected")+"&companyName="+$("#companyName").val());
        });

        $("#exportSaleData").on("click", function(){
            window.open("/fission/data/view/business/rank/sale/all/export?id="+$("#acName").attr("ts-selected")+"&companyName="+$("#companyName").val());
        });
    }();

    function reload(){
        if($("#acName").attr("ts-selected")){
            table.reload('saleDataTable', {
                where: {
                    id: $("#acName").attr("ts-selected"),
                    companyName:$("#companyName").val()
                },
                page: {
                    curr: 1
                }
            });

            table.reload('dealerDataTable', {
                where: {
                    id: $("#acName").attr("ts-selected"),
                    companyName:$("#companyName").val()
                },
                page: {
                    curr: 1
                }
            });
        }else{
            layer.alert("请选择活动", {icon: 5,title:'提示'});
        }

    }
</script>
</body>
</html>