<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>团车直卖-场次活动经销商品牌添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script src="http://static.tuanche.com/layuiadmin/layui/layui.js"></script>
    <script src="/layui/js/formSelects-v4.js"></script>
    <script src="/common/js/tools.js"></script>
    <script src="/common/js/xm-select.js"></script>
    <link rel="stylesheet" href="http://static.tuanche.com/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layui/css/formSelects-v4.css" media="all">
    <style>
        .label-close-icon {
            vertical-align: bottom;
            margin-left: -8px;
            font-size: 18px;
            position: absolute;
            top: -8px;
            cursor: pointer;
            z-index: 100;
        }

        .layui-input {
            width: 300px;
        }

        .layui-form-select {
            width: 300px;
        }

        .xm-form-select {
            min-width: 300px;
        }

        .layui-form-label {
            width: 100px;
        }

        .layui-input-block {
            margin-left: 138px;
        }
    </style>
</head>
<body class="childrenBody">
<form class="layui-form" style="background-color:#ffffff" lay-filter="sceneForm">
    <div class="layui-form-item" style="width: 747px;">
        <label class="layui-form-label">参展经销商</label>
        <div class="layui-input-block" id="dealer-xm-select"/>
    </div>
    <div class="layui-form-item" style="width: 437px;">
        <label class="layui-form-label">参展品牌</label>
        <div class="layui-input-block">
            <select name="brandSelect" xm-select="brandSelect" xm-select-search="" xm-select-search-type="dl">
                <!--<option value="">请选择品牌</option>-->
                <!--<option th:each="brand : ${carBrandDtoList}" th:value="${brand.cbId}" th:text="${brand.cbName.concat('(').concat(brand.cmName).concat(')')}"></option>-->
            </select>
        </div>
    </div>
    <div class="layui-form-item" style="width: 747px;">
        <label class="layui-form-label required">参展车型</label>
        <div class="layui-input-block" id="carStyleDiv">

        </div>
    </div>
    <div class="layui-form-item" style="width: 437px;">
        <label class="layui-form-label required">参展城市(如无特殊情况，可不填写此字段)</label>
        <div class="layui-input-block">
            <div id="sceneCitySelect"></div>
        </div>
    </div>
    <div class="layui-form-item" style="width: 437px;">
        <label class="layui-form-label required">保量目标</label>
        <div class="layui-input-block">
            <input type="number" name="ensureSize" id="ensureSize" lay-verify="number"
                   placeholder="请输入保量目标值" min="1" value="15" autocomplete="off" class="layui-input"
                   style="width: 120px;">
            <div class="layui-form-mid layui-word-aux">不保量商家默认为15，无需修改，保量商家请根据实际目标填写</div>
        </div>
    </div>
    <div class="layui-form-item" style="width: 437px;">
        <label class="layui-form-label required">合同全称</label>
        <div class="layui-input-block">
            <input type="text" name="contractDealerName" id="contractDealerName" maxlength="200"
                   placeholder="请输入合同全称" autocomplete="off" class="layui-input" style="width: 300px;">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" id="submitBtn" lay-submit lay-filter="submitBtn">
                <i class="layui-icon layui-icon-ok-circle"></i>立即提交
            </button>
            <button class="layui-btn layui-btn-normal" id="backBtn"><i class="layui-icon layui-icon-close-fill"></i>返回
            </button>
        </div>
    </div>
</form>

<!-- layui 初始化 -->
<script>
    layui.use(['form', 'layer', 'table', 'upload', 'laydate', 'element'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.jquery,
            formSelects = layui.formSelects,
            element = layui.element;
        element.init();


        // 场次活动ID
        var sceneId = [[${sceneId}]];
        var dealerId = null;

        // 设置下拉框 只保留清空按钮
        formSelects.btns('brandSelect', ['remove']);

        var sceneCitySelect = xmSelect.render({
            el: '#sceneCitySelect',
            tips: '请选择城市',
            autoRow: true,
            radio: true,
            direction: "down",
            toolbar: {show: true},
            prop: {
                name: 'name',
                value: 'id',
            },
            tree: {
                show: true,
                showFolderIcon: true,
                showLine: false,
                indent: 20,
                strict: false,
                expandedKeys:true,
                simple: false
            },
            data: []
        })

        // 加载经销商
        var dealerSelect = xmSelect.render({
            el: '#dealer-xm-select',
            autoRow: true,
            radio: true,
            filterable: true,
            remoteSearch: true,
            remoteMethod: function (val, cb, show) {
                //这里如果val为空, 则不触发搜索
                if (!val) {
                    return cb([]);
                }
                $.ajax({
                    type: 'get',
                    url: '/dealer/getDealerByNameCityBrand',
                    data: {
                        companyName: val,
                        sceneId: sceneId
                    },
                    success: function (data) {
                        var dealerList = new Array();
                        $.each(data, function (index, item) {
                            var dealerJson = {"name": item.companyName, "value": item.id};
                            dealerList.push(dealerJson);
                        });
                        cb(dealerList);
                    },
                    error: function (e) {
                        cb([]);
                        layer.msg("有一丝丝问题，请联系管理员", {icon: 5});
                        return false;
                    }
                });
            },
            on: function (data) {
                //arr:  当前多选已选中的数据
                var arr = data.arr;

                if (arr.length > 0) {
                    dealerId = arr[0].value;

                    // 加载品牌
                    layui.formSelects.config('brandSelect', {
                        beforeSuccess: function (id, url, searchVal, result) {
                            var brandList = new Array();
                            $.each(result, function (index, item) {
                                var brandJson = {"name": item.name, "value": item.id};
                                brandList.push(brandJson);
                            });
                            return brandList;
                        },
                        success: function () {
                            // 清空级联
                            $("#carStyleDiv").html("");
                            form.render("checkbox");
                        }
                    }).data('brandSelect', 'server', {
                        url: '/scene/getBrand',
                        data: {
                            dealerId: dealerId,
                            sceneId: sceneId
                        }
                    });

                    $.ajax({
                        type: "get",
                        url: "/common/getAllCityTree?dealerId=" + dealerId,
                        success: function (data) {
                            sceneCitySelect.update({
                                data: data
                            })
                        }
                    })
                } else {
                    // 清空级联
                    $("#carStyleDiv").html("");
                    form.render("checkbox");
                    layui.formSelects.render('brandSelect');
                }
            }
        })
        formSelects.on('brandSelect', function (id, vals, val, isAdd, isDisabled) {
            var styleHtml = "";
            // 清空车型checkBox
            $("#carStyleDiv").html(styleHtml);
            form.render("checkbox");
            for (var i = 0; i < vals.length; i++) {
                var brandId = vals[i].value;
                var brandName = vals[i].name;

                // 加载车型
                var checkStyleName = "carStyleOther_" + brandId;
                styleHtml += '<blockquote class="layui-elem-quote">' + brandName + '</blockquote>';
                $.ajax({
                    type: 'POST',
                    url: '/common/loadCarStyle',
                    async: false,
                    data: {
                        dealerId: parseInt(dealerId),
                        brandId: parseInt(brandId)
                    },
                    success: function (data) {
                        $.each(data, function (index, item) {
                            if (item.csName !== "") {
                                // 过滤掉车型名称为空的
                                styleHtml += '<input type="checkbox" class="' + checkStyleName + '" name="' + checkStyleName + '" title="' + item.csName + '" ' +
                                    'value="' + item.csId + '" checked>';
                            }
                        });
                    },
                    error: function (e) {
                        layer.msg("有一丝丝问题，请联系管理员", {icon: 5});
                        return false;
                    }
                });
            }
            $("#carStyleDiv").append(styleHtml);
            form.render("checkbox");
        }, true);

        // 监听提交
        form.on('submit(submitBtn)', function (data) {

            var brandIds = layui.formSelects.value("brandSelect", "vals");
            var dealerId = dealerSelect.getValue("valueStr");
            var dealerName = dealerSelect.getValue("nameStr");
            var ensureSize = $("#ensureSize").val();

            if (dealerId == null || dealerId == "") {
                layer.msg("请选择参展经销商！", {icon: 5});
                return false;
            }
            if (brandIds == null || brandIds.length <= 0) {
                layer.msg("请选择参展品牌！", {icon: 5});
                return false;
            }
            if (ensureSize == null || ensureSize == 0) {
                layer.msg("请填写保量目标！", {icon: 5});
                return false;
            }
            var contractDealerName = $("#contractDealerName").val().trim();
            if (contractDealerName == null || contractDealerName == "") {
                layer.msg("请填写合同全称！", {icon: 5});
                return false;
            }

            // 获取品牌选中的车型
            var brandList = [];
            for (var i = 0; i < brandIds.length; i++) {
                var brandId = brandIds[i].value;
                var brandName = brandIds[i].name;
                var carStyleOtherIds = "";
                $('input[name="carStyleOther_' + brandId + '"]:checked').each(function () {
                    carStyleOtherIds += $(this).val() + ",";
                });
                if (carStyleOtherIds.length > 0) {
                    carStyleOtherIds = carStyleOtherIds.substring(0, carStyleOtherIds.length - 1);
                }
                var brandMap = {
                    "brandId": brandId,
                    "carStyleIds": carStyleOtherIds,
                    "brandName": brandName
                };
                brandList.push(brandMap);
            }

            $('#submitBtn').attr('disabled', 'disabled');
            var loadIndex = layer.load(1, {
                shade: [0.5, '#000']
            });
            var cityIds = sceneCitySelect.getValue("value");
            var cityId = null;
            if (cityIds != null && cityIds.length > 0) {
                cityId=cityIds[0];
            }
            $.ajax({
                type: 'POST',
                url: '/dealer/addDealer',
                contentType: "application/json",
                data: JSON.stringify({
                    "sceneId": sceneId,
                    "dealerId": parseInt(dealerId),
                    "ensureSize": ensureSize,
                    "dealerName": dealerName,
                    "brandMapList": JSON.stringify(brandList),
                    "contractDealerName": contractDealerName,
                    "joinCityId": cityId,
                }),
                success: function (data) {
                    if (data.code === 200) {
                        layer.msg("添加成功", {
                            icon: 6, time: 2000, end: function () {
                                parent.location.href = "/dealer/toSceneDealerPage?sceneId=" + sceneId;
                            }
                        });
                    } else {
                        layer.alert(data.msg == null ? "有一丝丝问题，请联系管理员" : data.msg, {icon: 5});
                        $('#submitBtn').removeAttr('disabled');
                    }
                    layer.close(loadIndex);
                },
                error: function (e) {
                    console.log(e);
                    layer.close(loadIndex);
                    layer.msg("有一丝丝问题，请联系管理员", {icon: 5});
                    $('#submitBtn').removeAttr('disabled');
                    return false;
                }
            });
            return false;
        });

        $("#backBtn").on("click", function () {
            var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
            parent.layer.close(index);//关闭弹出的子页面窗口
        })
    });

</script>
</body>
</html>