<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuanche.directselling.mapper.write.directselling.FissionActivityDataWriteMapper">
    <resultMap id="BaseResultMap" type="com.tuanche.directselling.model.FissionActivityData">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="fission_id" jdbcType="INTEGER" property="fissionId"/>
        <result column="browse_base" jdbcType="INTEGER" property="browseBase"/>
        <result column="browse_coefficient" jdbcType="INTEGER" property="browseCoefficient"/>
        <result column="browse_num" jdbcType="INTEGER" property="browseNum"/>
        <result column="subscribe_base" jdbcType="INTEGER" property="subscribeBase"/>
        <result column="subscribe_coefficient" jdbcType="INTEGER" property="subscribeCoefficient"/>
        <result column="subscribe_num" jdbcType="INTEGER" property="subscribeNum"/>
        <result column="share_base" jdbcType="INTEGER" property="shareBase"/>
        <result column="share_coefficient" jdbcType="INTEGER" property="shareCoefficient"/>
        <result column="share_num" jdbcType="INTEGER" property="shareNum"/>
    </resultMap>
    <sql id="Base_Column_List">
      id, fission_id, browse_base, browse_coefficient, browse_num, subscribe_base, subscribe_coefficient,
      subscribe_num, share_base, share_coefficient, share_num
   </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from fission_activity_data
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
     delete from fission_activity_data
     where id = #{id,jdbcType=INTEGER}
   </delete>
    <delete id="deleteByFissionId" parameterType="java.lang.Integer">
      delete from fission_activity_data
      where fission_id = #{fissionId,jdbcType=INTEGER}
   </delete>
    <insert id="insert" parameterType="com.tuanche.directselling.model.FissionActivityData">
        insert into fission_activity_data (id, fission_id, browse_base,
          browse_coefficient, browse_num, subscribe_base,
          subscribe_coefficient, subscribe_num, share_base,
          share_coefficient, share_num)
        values (#{id,jdbcType=INTEGER}, #{fissionId,jdbcType=INTEGER}, #{browseBase,jdbcType=INTEGER},
          #{browseCoefficient,jdbcType=INTEGER}, #{browseNum,jdbcType=INTEGER}, #{subscribeBase,jdbcType=INTEGER},
          #{subscribeCoefficient,jdbcType=INTEGER}, #{subscribeNum,jdbcType=INTEGER}, #{shareBase,jdbcType=INTEGER},
          #{shareCoefficient,jdbcType=INTEGER}, #{shareNum,jdbcType=INTEGER})
      </insert>
    <insert id="insertSelective" parameterType="com.tuanche.directselling.model.FissionActivityData">
        insert into fission_activity_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="fissionId != null">
                fission_id,
            </if>
            <if test="browseBase != null">
                browse_base,
            </if>
            <if test="browseCoefficient != null">
                browse_coefficient,
            </if>
            <if test="browseNum != null">
                browse_num,
            </if>
            <if test="subscribeBase != null">
                subscribe_base,
            </if>
            <if test="subscribeCoefficient != null">
                subscribe_coefficient,
            </if>
            <if test="subscribeNum != null">
                subscribe_num,
            </if>
            <if test="shareBase != null">
                share_base,
            </if>
            <if test="shareCoefficient != null">
                share_coefficient,
            </if>
            <if test="shareNum != null">
                share_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="fissionId != null">
                #{fissionId,jdbcType=INTEGER},
            </if>
            <if test="browseBase != null">
                #{browseBase,jdbcType=INTEGER},
            </if>
            <if test="browseCoefficient != null">
                #{browseCoefficient,jdbcType=INTEGER},
            </if>
            <if test="browseNum != null">
                #{browseNum,jdbcType=INTEGER},
            </if>
            <if test="subscribeBase != null">
                #{subscribeBase,jdbcType=INTEGER},
            </if>
            <if test="subscribeCoefficient != null">
                #{subscribeCoefficient,jdbcType=INTEGER},
            </if>
            <if test="subscribeNum != null">
                #{subscribeNum,jdbcType=INTEGER},
            </if>
            <if test="shareBase != null">
                #{shareBase,jdbcType=INTEGER},
            </if>
            <if test="shareCoefficient != null">
                #{shareCoefficient,jdbcType=INTEGER},
            </if>
            <if test="shareNum != null">
                #{shareNum,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tuanche.directselling.model.FissionActivityData">
        update fission_activity_data
        <set>
            <if test="fissionId != null">
                fission_id = #{fissionId,jdbcType=INTEGER},
            </if>
            <if test="browseBase != null">
                browse_base = #{browseBase,jdbcType=INTEGER},
            </if>
            <if test="browseCoefficient != null">
                browse_coefficient = #{browseCoefficient,jdbcType=INTEGER},
            </if>
            <if test="browseNum != null">
                browse_num = #{browseNum,jdbcType=INTEGER},
            </if>
            <if test="subscribeBase != null">
                subscribe_base = #{subscribeBase,jdbcType=INTEGER},
            </if>
            <if test="subscribeCoefficient != null">
                subscribe_coefficient = #{subscribeCoefficient,jdbcType=INTEGER},
            </if>
            <if test="subscribeNum != null">
                subscribe_num = #{subscribeNum,jdbcType=INTEGER},
            </if>
            <if test="shareBase != null">
                share_base = #{shareBase,jdbcType=INTEGER},
            </if>
            <if test="shareCoefficient != null">
                share_coefficient = #{shareCoefficient,jdbcType=INTEGER},
            </if>
            <if test="shareNum != null">
                share_num = #{shareNum,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tuanche.directselling.model.FissionActivityData">
        update fission_activity_data
        set fission_id = #{fissionId,jdbcType=INTEGER},
          browse_base = #{browseBase,jdbcType=INTEGER},
          browse_coefficient = #{browseCoefficient,jdbcType=INTEGER},
          browse_num = #{browseNum,jdbcType=INTEGER},
          subscribe_base = #{subscribeBase,jdbcType=INTEGER},
          subscribe_coefficient = #{subscribeCoefficient,jdbcType=INTEGER},
          subscribe_num = #{subscribeNum,jdbcType=INTEGER},
          share_base = #{shareBase,jdbcType=INTEGER},
          share_coefficient = #{shareCoefficient,jdbcType=INTEGER},
          share_num = #{shareNum,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
      </update>
    <!--更新真实数-->
    <update id="updateEffectNumByFissionId" >
        UPDATE fission_activity_data
        SET browse_num = ifnull(browse_num, 0) + #{browseNum},
        subscribe_num = ifnull(subscribe_num, 0) + #{subscribeNum},
        share_num = ifnull(share_num, 0) + #{shareNum}
        WHERE
            fission_id = #{fissionId}
    </update>
</mapper>