<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuanche.directselling.mapper.write.directselling.GiftRefuelingcardPeriodsCommodityWriteMapper" >
  <resultMap id="BaseResultMap" type="com.tuanche.directselling.model.GiftRefuelingcardPeriodsCommodity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="rc_periods_id" property="rcPeriodsId" jdbcType="INTEGER" />
    <result column="commodity_type" property="commodityType" jdbcType="VARCHAR" />
    <result column="commodity_name" property="commodityName" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 根据油卡配置表ID删除 -->
  <delete id="deleteByRcPeriodsId" parameterType="java.lang.Integer" >
    delete from gift_refuelingcard_periods_commodity
    where rc_periods_id = #{rcPeriodsId,jdbcType=INTEGER}
  </delete>
  <!-- 批量新增 -->
  <insert id="batchInsert" parameterType="java.util.List" >
    insert into gift_refuelingcard_periods_commodity ( rc_periods_id, commodity_type,
      commodity_name)
    values
      <foreach collection="commodityList" item="item" index="index" separator=",">
           (#{item.rcPeriodsId,jdbcType=INTEGER}, #{item.commodityType,jdbcType=VARCHAR},
            #{item.commodityName,jdbcType=VARCHAR})
      </foreach>
  </insert>

</mapper>