<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuanche.directselling.mapper.write.directselling.LiveSceneDealerConfigWriteMapper">
  <resultMap id="BaseResultMap" type="com.tuanche.directselling.model.LiveSceneDealerConfig">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="periods_id" jdbcType="INTEGER" property="periodsId" />
    <result column="scene_id" jdbcType="INTEGER" property="sceneId" />
    <result column="dealer_id" jdbcType="INTEGER" property="dealerId" />
    <result column="ensure_size" jdbcType="INTEGER" property="ensureSize" />
    <result column="create_user_id" jdbcType="INTEGER" property="createUserId" />
    <result column="create_user_name" jdbcType="VARCHAR" property="createUserName" />
    <result column="create_dt" jdbcType="TIMESTAMP" property="createDt" />
    <result column="update_user_id" jdbcType="INTEGER" property="updateUserId" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="update_dt" jdbcType="TIMESTAMP" property="updateDt" />
    <result column="delete_state" jdbcType="BIT" property="deleteState" />
    <result column="extension_code" jdbcType="VARCHAR" property="extensionCode" />
  </resultMap>
  <sql id="Base_Column_List">
    id, periods_id, scene_id, dealer_id, ensure_size, create_user_id, create_user_name, 
    create_dt, update_user_id, update_user_name, update_dt, delete_state, extension_code, contract_dealer_name
  </sql>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.tuanche.directselling.model.LiveSceneDealerConfig">
    insert into live_scene_dealer_config
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="periodsId != null">
        periods_id,
      </if>
      <if test="sceneId != null">
        scene_id,
      </if>
      <if test="dealerId != null">
        dealer_id,
      </if>
      <if test="dealerName != null">
        dealer_name,
      </if>
      <if test="contractDealerName != null">
        contract_dealer_name,
      </if>
      <if test="ensureSize != null">
        ensure_size,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createDt != null">
        create_dt,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateUserName != null">
        update_user_name,
      </if>
      <if test="updateDt != null">
        update_dt,
      </if>
      <if test="deleteState != null">
        delete_state,
      </if>
      <if test="extensionCode != null">
        extension_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="periodsId != null">
        #{periodsId,jdbcType=INTEGER},
      </if>
      <if test="sceneId != null">
        #{sceneId,jdbcType=INTEGER},
      </if>
      <if test="dealerId != null">
        #{dealerId,jdbcType=INTEGER},
      </if>
      <if test="dealerName != null">
        #{dealerName,jdbcType=VARCHAR},
      </if>
      <if test="contractDealerName != null">
        #{contractDealerName},
      </if>
      <if test="ensureSize != null">
        #{ensureSize,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDt != null">
        #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserName != null">
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateDt != null">
        #{updateDt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteState != null">
        #{deleteState,jdbcType=BIT},
      </if>
      <if test="extensionCode != null">
        #{extensionCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tuanche.directselling.model.LiveSceneDealerConfig">
    update live_scene_dealer_config
    <set>
      <if test="periodsId != null">
        periods_id = #{periodsId,jdbcType=INTEGER},
      </if>
      <if test="sceneId != null">
        scene_id = #{sceneId,jdbcType=INTEGER},
      </if>
      <if test="dealerId != null">
        dealer_id = #{dealerId,jdbcType=INTEGER},
      </if>
      <if test="dealerName != null">
        dealer_name = #{dealerName,jdbcType=VARCHAR},
      </if>
      <if test="contractDealerName != null">
        contract_dealer_name = #{contractDealerName,jdbcType=VARCHAR},
      </if>
      <if test="ensureSize != null">
        ensure_size = #{ensureSize,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="createDt != null">
        create_dt = #{createDt,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateUserName != null">
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateDt != null">
        update_dt = #{updateDt,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteState != null">
        delete_state = #{deleteState,jdbcType=BIT},
      </if>
      <if test="extensionCode != null">
        extension_code = #{extensionCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="deleteByLiveSceneDealerConfig" parameterType="com.tuanche.directselling.model.LiveSceneDealerConfig">
    update live_scene_dealer_config set
    <if test="updateUserId != null">
      update_user_id = #{updateUserId,jdbcType=INTEGER},
    </if>
    <if test="updateUserName != null">
      update_user_name = #{updateUserName,jdbcType=VARCHAR},
    </if>
    <if test="updateDt != null">
      update_dt = #{updateDt,jdbcType=TIMESTAMP},
    </if>
    delete_state = #{deleteState,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
 <!-- 根据IDS批量更新经销商赠送油卡上限 -->
  <update id="updateRefuelingCardNumByIds" parameterType="java.util.List">
      UPDATE live_scene_dealer_config SET refueling_card_num = #{refuelingCardNum},update_user_name = #{updateUserName}
       WHERE id IN
      <foreach collection="ids" item="id" open="(" separator="," close=")">
          #{id}
      </foreach>
  </update>
 <!-- 根据IDS批量更新经销商赠送油卡上限 -->
  <update id="updateRefuelingCardNumByPeriodsId" >
      UPDATE live_scene_dealer_config SET refueling_card_num = #{refuelingCardNum},update_user_name = #{updateUserName}
       WHERE periods_id = #{periodsId}
  </update>

  <update id="deleteByNotInDealerIds">
    update live_scene_dealer_config set
    update_user_id = #{updateUserId,jdbcType=INTEGER},
    update_user_name = #{updateUserName,jdbcType=VARCHAR},
    update_dt = #{updateDt,jdbcType=TIMESTAMP},
    delete_state = 1
    where delete_state=0 and scene_id = #{sceneId,jdbcType=INTEGER}
    <if test="dealerIds != null and dealerIds.size() != 0">
      and dealer_id not in <foreach collection="dealerIds" separator="," item="id" open="(" close=")">
      #{id}
    </foreach>
    </if>
  </update>
</mapper>