<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuanche.directselling.mapper.read.directselling.AfterSaleOrderWechatworkConcactReadMapper" >
  <resultMap id="BaseResultMap" type="com.tuanche.directselling.model.AfterSaleOrderWechatworkConcact" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="activity_id" property="activityId" jdbcType="INTEGER" />
    <result column="order_code" property="orderCode" jdbcType="VARCHAR" />
    <result column="user_wx_union_id" property="userWxUnionId" jdbcType="VARCHAR" />
    <result column="ww_user_id" property="wwUserId" jdbcType="VARCHAR" />
    <result column="ww_user_name" property="wwUserName" jdbcType="VARCHAR" />
    <result column="ww_create_dt" property="wwCreateDt" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="create_dt" property="createDt" jdbcType="TIMESTAMP" />
    <result column="update_dt" property="updateDt" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, activity_id, order_code, user_wx_union_id, ww_user_id, ww_user_name, ww_create_dt, 
    status, create_dt, update_dt, delete_flag
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from after_sale_order_wechatwork_concact
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="getList" resultMap="BaseResultMap" parameterType="com.tuanche.directselling.model.AfterSaleOrderWechatworkConcact" >
    select
    <include refid="Base_Column_List" />
    from after_sale_order_wechatwork_concact
    where delete_flag = 0
    <if test="activityId != null" >
      and activity_id = #{activityId,jdbcType=INTEGER}
    </if>
    <if test="orderCode != null" >
      and order_code = #{orderCode,jdbcType=VARCHAR}
    </if>
    <if test="userWxUnionId != null" >
      and user_wx_union_id = #{userWxUnionId,jdbcType=VARCHAR}
    </if>
    <if test="wwUserId != null and wwUserId!=''" >
      and ww_user_id = #{wwUserId}
    </if>
    <if test="wwUserName != null" >
      and ww_user_name = #{wwUserName,jdbcType=VARCHAR}
    </if>
    <if test="wwCreateDt != null" >
      and ww_create_dt = #{wwCreateDt,jdbcType=TIMESTAMP}
    </if>
    <if test="status != null" >
      and status = #{status,jdbcType=TINYINT}
    </if>
    order by ww_create_dt desc
  </select>

  <select id="getWechatworkConcactList" resultMap="BaseResultMap" parameterType="com.tuanche.directselling.model.AfterSaleOrderWechatworkConcact" >
    select t.* from (
      select
      <include refid="Base_Column_List" />
      from after_sale_order_wechatwork_concact
      where delete_flag = 0
      <if test="activityId != null" >
        and activity_id = #{activityId,jdbcType=INTEGER}
      </if>
      <if test="orderCode != null" >
        and order_code = #{orderCode,jdbcType=VARCHAR}
      </if>
      <if test="userWxUnionId != null" >
        and user_wx_union_id = #{userWxUnionId,jdbcType=VARCHAR}
      </if>
      <if test="wwUserId != null and wwUserId!=''" >
        and ww_user_id = #{wwUserId}
      </if>
      <if test="wwUserName != null" >
        and ww_user_name = #{wwUserName,jdbcType=VARCHAR}
      </if>
      <if test="wwCreateDt != null" >
        and ww_create_dt = #{wwCreateDt,jdbcType=TIMESTAMP}
      </if>
      <if test="status != null" >
        and status = #{status,jdbcType=TINYINT}
      </if>
      order by ww_create_dt desc
    ) t
    GROUP BY t.ww_user_id
  </select>

  <select id="getListByOrderCodes" resultMap="BaseResultMap">
    select t.* from (
      select
      <include refid="Base_Column_List" />
      from after_sale_order_wechatwork_concact
      where delete_flag = 0
      and order_code in
      <foreach collection="orderCodes" item="orderCode" open="(" separator="," close=")">
         #{orderCode}
      </foreach>
      order by ww_create_dt desc
    ) t
    GROUP BY t.order_code
  </select>

  <select id="getOrderByMaxWwUserId" resultType="java.lang.String">
    SELECT tt_asowc.order_code FROM (
      select t_asowc.order_code, t_asowc.ww_user_id from (
        select asowc.order_code, asowc.ww_user_id from after_sale_order_wechatwork_concact asowc where asowc.delete_flag = 0
        <if test="activityId != null" >
          AND asowc.activity_id = #{activityId}
        </if>
        order by asowc.ww_create_dt desc
      ) t_asowc
      GROUP BY t_asowc.order_code
    ) tt_asowc
    WHERE tt_asowc.ww_user_id=#{wwUserId}
  </select>

</mapper>