<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuanche.directselling.mapper.read.directselling.AfterSaleAmountAlarmReadMapper" >
  <resultMap id="BaseResultMap" type="com.tuanche.directselling.model.AfterSaleAmountAlarm" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="accruing_amounts" property="accruingAmounts" jdbcType="DECIMAL" />
    <result column="payment_amount" property="paymentAmount" jdbcType="DECIMAL" />
    <result column="alarm_amount" property="alarmAmount" jdbcType="DECIMAL" />
    <result column="alarm_phone" property="alarmPhone" jdbcType="VARCHAR" />
    <result column="alarm_email" property="alarmEmail" jdbcType="VARCHAR" />
    <result column="update_dt" property="updateDt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, accruing_amounts, payment_amount, alarm_amount, alarm_phone, alarm_email, update_dt
  </sql>

  <select id="getAfterSaleAmountAlarm" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from after_sale_amount_alarm
    limit 1
  </select>

</mapper>