<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuanche.directselling.mapper.read.directselling.LiveEffectReadMapper" >
  <resultMap id="BaseResultMap" type="com.tuanche.directselling.model.LiveEffect" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="feed_title" property="feedTitle" jdbcType="VARCHAR" />
    <result column="guide_name" property="guideName" jdbcType="VARCHAR" />
    <result column="guide_tb_nick" property="guideTbNick" jdbcType="VARCHAR" />
    <result column="read_time_all" property="readTimeAll" jdbcType="DOUBLE" />
    <result column="pv" property="pv" jdbcType="INTEGER" />
    <result column="pv_hu_dong" property="pvHuDong" jdbcType="INTEGER" />
    <result column="pv_ping" property="pvPing" jdbcType="INTEGER" />
    <result column="pv_zan" property="pvZan" jdbcType="INTEGER" />
    <result column="pv_share" property="pvShare" jdbcType="INTEGER" />
    <result column="pv_guanzhu" property="pvGuanzhu" jdbcType="INTEGER" />
    <result column="ipv" property="ipv" jdbcType="INTEGER" />
    <result column="alipay_amt" property="alipayAmt" jdbcType="DECIMAL" />
    <result column="alipay_cnt" property="alipayCnt" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="create_dt" property="createDt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, feed_title, guide_name, guide_tb_nick, read_time_all, pv, pv_hu_dong, pv_ping, 
    pv_zan, pv_share, pv_guanzhu, ipv, alipay_amt, alipay_cnt, start_time, create_dt
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from live_effect
    where id = #{id,jdbcType=INTEGER}
  </select>

</mapper>